$color-gray-400: #6c6c6ce6;
.cardboard {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 95dvh;
  width: 50dvh;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  background-color: #0b0b0be6;
  border: 1px solid #181818;
  backdrop-filter: blur(2px);
  overflow: hidden;
  .cardboard-header {
    width: 46dvh;
    height: 3dvh;
    background-color: #181818;
    color: #fff;
    padding: 1dvh 2dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cardboard-event-name {
      font-variant: small-caps;
      font-size: 2dvh;
    }
  }
  svg {
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 50dvh;
    z-index: -1;

    path {
      stroke: color-mix(in srgb, $color-gray-400 30%, transparent);
      fill: color-mix(in srgb, $color-gray-400 0%, transparent);
    }

    rect {
      height: 100dvh;
      width: 50dvh;
    }
  }
}
