@import 'global';

.cardboard {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 95dvh;
  width: 50dvh;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  background-color: #0b0b0be6;
  border: $border-colors;
  backdrop-filter: blur(2px);
  overflow: hidden;

  .cardboard-header {
    position: absolute;
    top: 0;
    width: 46dvh;
    height: 3dvh;
    background-color: #181818cf;
    backdrop-filter: blur(2px);
    color: #fff;
    padding: 1dvh 2dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cardboard-event-name {
      font-variant: small-caps;
      font-size: 2dvh;
    }

    .cardboard-user-online {
      align-items: center;
      display: flex;
      gap: 24px;

      .cardboard-point {
        position: relative;
        .cardboard-point-inner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #00ff51;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .cardboard-point-outer {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #9fffbd;
          display: flex;
          justify-content: center;
          align-items: center;
          transform-origin: center;
          animation: flash 1s normal both infinite;
          margin: 0px auto 0px auto;
        }
      }
    }
  }
  .cardboard-content {
    position: relative;
    height: 100dvh;
    width: 50dvh;
    svg {
      position: absolute;
      top: 0;
      height: 100dvh;
      width: 50dvh;
      z-index: -1;

      path {
        stroke: color-mix(in srgb, $color-gray-400 30%, transparent);
        fill: color-mix(in srgb, $color-gray-400 0%, transparent);
      }

      rect {
        height: 100dvh;
        width: 50dvh;
      }
    }
  }
}

@keyframes flash {
  0% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.5);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
