@import 'global';

.card {
  top: 50%;
  left: 50%;
  position: absolute;
  width: calc(25% - 20px);
  background-color: $card-colors;
  border: $border-colors;
  border-radius: 0.8dvh;
  padding: 0.8dvh;
  //   transform: translate(-50%, -50%);
  transform-origin: center center;

  .card-media {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0.2dvh;
  }

  .card-title {
    font-size: 1dvh;
    padding: 0.8dvh 0;
    color: rgb(122, 122, 122);
  }

  .card-content {
    font-size: 0.9dvh;
    color: #fff;
  }
}
